/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*Variaveis no CSS*/
:root {
    --header-height: 3rem;

    /*Cores*/
    --first-color: #069C54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;

    /*Fontes e Tipografia*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size:  .813rem;
    --smaller-font-size: .75rem;

    /*Estilo das fontes*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*Margens*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*z-index*/ /*duvida*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size:  .875rem;
        --smaller-font-size: .813rem;
    }
}

/*Base - Duvidas*/
*,::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;/*duvida*/
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;/*duvida*/
}

h1, h2, h3, p, ul{
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;/*duvida*/
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*Variables Dark Theme*/

/*Button Dark/Light*/

/*Class CSS*/
.section {
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
    display: block;/*duvida*/
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

/*Layout*/
.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;/*duvida*/
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;/*duvida*/
    left: 0;/*duvida*/
    z-index: var(--z-fixed);/*duvida*/
    background-color: var(--body-color);
}
/*=====NAV=====*/
.nav {
    max-width: 1024px;
    height:  var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu{
        position: fixed;/*duvida*/
        top: -100%; /*Esconder o menu*/
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 1rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav_link {
    transition: .3s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer; 
}

/*Show the Menu*/
.show-menu {
    top: var(--header-height);
}

/*Active Menu*/
.active-link {
    color: var(--first-color);
}

/*Change background header*/
.scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*Scroll top*/
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color-alt);  
}

.scrolltop__icon {
    font-size: 1.8rem;
    color: var(--body-color);
}

/*Show scrolltop*/
.scroll-top {
    visibility: visible;
    bottom: 1.5rem;
}

/*====Home====*/
.home__container {
    height: calc(100vh - 28rem) /*var(--header-height)*/;
    align-content: center;
}

.home__title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.home__subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}

.home__img {
    width: 300px;
    justify-self: center;
}

/*====Buttons====*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFFFFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt); 
}
/*====About====*/
.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-3);
}

.about__img {
    width: 280px;
    border-radius: .5rem;
    justify-self: center; /*dúvida*/
}
/*====Services====*/
/*====Menu====*/

